{{# section 'head' }}	
	<title>WeMe|Login</title>

{{/ section}}


{{> navbar}}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
				<form action="/auth/login" method="POST" role="form">
					<legend>登录喂米</legend>

					<div class="form-group">
						<label for="">用户名</label>
						<input type="text" class="form-control" name="username" data-bind="textInput: username" placeholder="username">

						<label data-bind="text: username"></label>

						<label for="">密码</label>
						<input type="password" class="form-control" data-bind="textInput: password" placeholder="password">
						<label data-bind="text: password"></label>
						<input type="hidden" class="form-control" name="password" data-bind="textInput: passhash" placeholder="passhash">
					</div>
					<button type="submit" class="btn btn-primary btn-block" >登陆</button>
				</form>
			
		</div>
	</div>
	
</div>

{{# section 'jquery' }}
	<script type="text/javascript" src="dist/vendor/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="dist/js/auth/login.js"></script>
	<script type="text/javascript" src="dist/js/auth/md5.js"></script>
	
{{/ section}}