{{# section 'head' }}	
	<title>WeMe|Login</title>

{{/ section}}


{{> user/navbar}}

{{#unless session.isLogin}}

<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-7">
			<form action="/auth/register" method="POST" role="form">
				<legend>注册</legend>

				<div class="form-group">
					<div class="field">
						<input id="username" type="text" class="form-control" name="username" data-bind="textInput: username" placeholder="用户名" maxlength="20" autocomplete="off">
						{{!-- <label data-bind="text: username"></label> --}}
					</div>
					<br>
					<div class="field">
						<input id="password" type="password" class="form-control" data-bind="textInput: password" placeholder="密码">
						{{!-- <label data-bind="text: password"></label> --}}
						<input type="hidden" class="form-control" name="password" data-bind="textInput: passhash" placeholder="passhash">
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" >注册</button>
				<hr>
				<a href="/auth/login">已有账号？登录</a><br>
				<a href="#resetpasswd">忘记密码？</a>
			</form>
			
		</div>
	</div>
	
</div>
{{/unless}}

{{# section 'jquery' }}
	<script type="text/javascript" src="/dist/vendor/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="/dist/js/auth/register.js"></script>
	<script type="text/javascript" src="/dist/js/util/md5.js"></script>
	
{{/ section}}