{{# section 'head' }}	
	<title>WeMe|Dashboard</title>
<link rel="stylesheet" type="text/css" href="dist/css/admin/side-menu.css">
<link rel="stylesheet" type="text/css" href="dist/css/admin/top-menu.css">
<style>
    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .l-box {
        padding: 1em;
    }

    .custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
	}
	.activity-on{
		color:white;
	    font-size: 2em;
	    margin: 0.2em 0 0;
	    font-weight: 100;
	    background: green;
	}
	.activity-off{
		color:white;
	    font-size: 2em;
	    margin: 0.2em 0 0;
	    font-weight: 100;
	    background: red;
	}
	.custom-restricted-width{
		text-align:center;
	}
</style>
{{/ section}}
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        {{!-- <a class="pure-menu-heading" href="">Your Site</a> --}}

        <ul class="pure-menu-list">
            <li  class="pure-menu-item"><a href="/user/home" class="pure-menu-link">我</a></li>
            <li  class="pure-menu-item"><a href="/auth/logout" class="pure-menu-link">注销</a></li>
        </ul>
    </div>
</div>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">WeMe</a>

            <ul class="pure-menu-list activity-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">活动发布</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">报名审核</a></li>

                <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">用户管理</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">其他功能</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
		<div class="content">
		    <div class="pure-g">
			    <div class="pure-u-1-3">
						<div class="pure-menu custom-restricted-width">
					    <span class="pure-menu-heading activity-on">进行中</span>
					    <ul  class="pure-menu-list">
					        <li class="pure-menu-item "><a href="#" class="pure-menu-link">牵手东大</a></li>
					        <li class="pure-menu-item"><a href="#" class="pure-menu-link">建筑之春</a></li>
					        <li class="pure-menu-item "><a href="#" class="pure-menu-link">日本春天</a></li>
					        <li class="pure-menu-item"><a href="#" class="pure-menu-link">美国春天</a></li>
					    </ul>

					    <span  class="pure-menu-heading activity-off">已结束</span>
					    <ul class="pure-menu-list"> 
					        <li class="pure-menu-item"><a href="#" class="pure-menu-link">夏威夷</a></li>
					        <li class="pure-menu-item"><a href="#" class="pure-menu-link">阿呆</a></li>
					        <li class="pure-menu-item"><a href="#" class="pure-menu-link">尼玛!</a></li>
					    </ul>
					</div>

			    </div>
			    <div class="pure-u-2-3">
			    <button data-bind="click:getProfile">Click Me</button>
					<table class="pure-table pure-table-horizontal">
						    <thead>
						        <tr>
						            <th>姓名</th>
						            <th>性别</th>
						            <th>学校</th>
						        </tr>
						    </thead>

						    <tbody data-bind="foreach:userList">
						        <tr>
						            <td data-bind="text:name"></td>
						            <td data-bind="text:gender"></td>
						            <td data-bind="text:school"></td>
						        </tr>
						    </tbody>
						</table>
			    </div>
			</div>
	

		</div>
        
    </div>
</div>
{{# section 'jquery' }}
	<script type="text/javascript" src="dist/vendor/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="dist/js/admin/ui.js"></script>
	<script type="text/javascript" src="dist/js/admin/app.js"></script>
	
{{/ section}}