{{# section 'head' }}	
	<title>WeMe|Dashboard</title>
<link rel="stylesheet" type="text/css" href="/dist/css/admin/side-menu.css">
<link rel="stylesheet" type="text/css" href="/dist/css/admin/top-menu.css">
{{> css_bt}}
<style>
    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .l-box {
        padding: 1em;
    }

    .custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
	}
/*	.activity-on{
		color:white;
	    font-size: 2em;
	    margin: 0.2em 0 0;
	    font-weight: 100;
	    background: green;
	}
	.activity-off{
		color:white;
	    font-size: 2em;
	    margin: 0.2em 0 0;
	    font-weight: 100;
	    background: red;
	}*/
	.custom-restricted-width{
		text-align:center;
	}
table{
    /*border: 1px solid black;*/
    table-layout: fixed;
    width: auto;
}

th, td {
    /*border: 1px solid black;*/
    overflow: hidden;
    width: auto;
}
.button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }
.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}
.selected
{
    background-color:#97DDEB;
}
.pass
{
	color:green;
}
</style>
{{/ section}}

{{> admin/topbar}}
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
{{> admin/leftbar publish=true}}

    <div id="main">
		<div class="container" style="margin: 30px auto">
		    <div class="row" style="margin-top: 30px">
			    <div class="col-md-4" >
			    	<div style="text-align: center">
						<button  class="pure-button" data-bind="click:fetchCurrentActivityList,visible:showRefresh">网络抽了，自动刷新中！</button>
					</div>
			    	<div>
			    		<button type="button" class="btn btn-default btn-block" data-bind="click:detectLastPage,visible:showDetecLastPage">刷新页码</button>
			    	</div>

				<div class="panel panel-default" style="margin-bottom: 0px">
				<div class="panel-heading text-center"><b>活动列表</b></div>
					<table class="table">
						    <thead>
						        <tr>
						            <td style="width:2em">标题</td>
						            <td style="width:2em">时间</td>
						            <td style="width:1em">状态</td>
						        </tr>
						    </thead>
						    <tbody data-bind="foreach:activityList">
						        <tr data-bind="click:$root.setCurrentActivity,css: {'selected':$root.currentActivity()==$data}">
						            <td data-bind="text:title"></td>
						            <td data-bind="text:time"></td>
						            <td  data-bind="text:state,css:{'pass':$data.state()=="通过"}"></td>
						        </tr>
						    </tbody>
					</table>
				</div>
				<nav class="text-center" >
				<ul class="pagination pagination-sm">
				    <li data-bind="attr:{class:hasPrevious()?'':'disabled'}">
				      <a href="#" aria-label="Previous" data-bind="click:fetchPreviousActivityList">
				        <span aria-hidden="true" >上一页</span>
				      </a>
				    </li>
				</ul>
				  <ul class="pagination pagination-sm" data-bind="foreach:pageNumbers">
				    <li data-bind="click:$root.gotoPage,attr:{class:$data==$root.currentPage()?'active':''}"> 
				    	<a data-bind="text:$data"></a>
				    </li>
				  </ul>
				  <ul class="pagination pagination-sm">
					<li data-bind="attr:{class:hasNext()?'':'disabled'}">
				      <a href="#" aria-label="Next" data-bind="click:fetchNextActivityList">
				        <span aria-hidden="true" >下一页</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			    </div>
				    <div class="col-md-5 " data-bind="with:currentActivity()">
				    	<ul class="list-group">
							  <li class="list-group-item" >
								  	<h2 data-bind="text:title"></h2>
								  	<h3 data-bind="text:advertise"></h3>
							  </li>
						  <li class="list-group-item" ><b>详情:</b><span data-bind="text:detail"></span></li>
						  <li class="list-group-item" >
						  		<b>活动id:</b><span data-bind="text:id"></span><br>
								<b>地点:</b><span data-bind="text:location"></span><br>
								<b>人数:</b><span data-bind="text:number"></span><br>
								<b>学校:</b><span data-bind="text:school"></span><br>
								<b>报名人数:</b><span data-bind="text:signnumber"></span><br>
								<b>时间:</b><span data-bind="text:time"></span><br>
								<b>有图片:</b><span data-bind="text:whetherimage"></span>
						  </li>
				          <li class="list-group-item" data-bind="visible:$data.whetherimage">
						   		<img style="width:300px" class="media-object" src="" data-bind="attr: { src: imageurl }" alt="">
						  </li>	
						 
						</ul>
				    </div>
				    <div class="col-md-2" >
				    	<ul class="list-group" data-bind="with:currentActivity()">
					    	 <li class="list-group-item" >
									<b>审核状态:</b><span data-bind="text:state"><br>
							 </li>
					    	 <li class="list-group-item text-center" >
								  	 <div>
						            	<button class="pure-button button-success" data-bind="click:$root.setPassActivity">批准</button>
						            	<button class="pure-button button-error" data-bind="click:$root.setNoPassActivity">否决</button>
						            </div>
				            </li>
						  <li class="list-group-item" >
						  <b>发布者:</b><span data-bind="text:author"></span><br>
							  <b>发布者id:</b><span data-bind="text:authorid"></span><br>
							  <b>性别:</b><span data-bind="text:gender"></span><br>
						  </li>
						  <li class="list-group-item" ><b>联系方式:</b><br><span data-bind="text:remark"></span></li>
						</ul>

				    </div>
				    
			    </div>


			</div>
	

		</div>
        
    </div>
</div>
{{>js_bt}}
{{# section 'jquery' }}
	<script type="text/javascript" src="/dist/vendor/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="/dist/js/admin/ui.js"></script>
	<script type="text/javascript" src="/dist/js/util/dom.js"></script>
	<script type="text/javascript" src="/dist/js/admin/publish.js"></script>
	
{{/ section}}