{{# section 'head' }}	
	<title>WeMe|Dashboard</title>
<link rel="stylesheet" type="text/css" href="/dist/css/admin/side-menu.css">
<link rel="stylesheet" type="text/css" href="/dist/css/admin/top-menu.css">
<style>
    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .l-box {
        padding: 1em;
    }

    .custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
	}
	.activity-on{
		color:white;
	    font-size: 2em;
	    margin: 0.2em 0 0;
	    font-weight: 100;
	    background: green;
	}
	.activity-off{
		color:white;
	    font-size: 2em;
	    margin: 0.2em 0 0;
	    font-weight: 100;
	    background: red;
	}
	.custom-restricted-width{
		text-align:center;
	}
table{
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid black;
    overflow: hidden;
    width: 80px;
}

</style>
{{/ section}}

{{> admin/topbar}}
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>
{{> admin/leftbar publish=true}}

    <div id="main">
		<div class="content">
		    <div class="pure-g">
		
			    <div class="pure-u-1">
					<table class="pure-table pure-table-horizontal">
						    <thead>
						        <tr>
						            <td >标题</td>
						            <td >地点</td>
						            <td >学校</td>
						            <td >时间</td>
						            <td >宣传语</td>
						            <td >作者</td>
						            <td >人数</td>
						            {{!-- <td >authorid</td>
						            <td >gender</td>
						            <td >id</td> --}}
						            {{!-- <td >remark</td> --}}
						            {{!-- <td >signnumber</td> --}}
						            <td >state</td>
						        </tr>
						    </thead>

						    <tbody data-bind="foreach:activityList">
						        <tr>
						            <td data-bind="text:title"></td>
						            <td data-bind="text:location"></td>
						            <td data-bind="text:school"></td>
						            <td data-bind="text:time"></td>
						            <td data-bind="text:advertise"></td>
						            <td data-bind="text:author"></td>
						            <td data-bind="text:number"></td>
						            {{!-- <td data-bind="text:authorid"></td>
						            <td data-bind="text:gender"></td>
						            <td data-bind="text:id"></td> --}}
						            {{!-- <td data-bind="text:remark"></td> --}}
						            {{!-- <td data-bind="text:signnumber"></td> --}}
						            <td data-bind="text:state"></td>
						        </tr>
						    </tbody>
						</table>
						
			    </div>
			    <div class="pure-u-1">
			    	<div style="text-align: center">
							<button  class="pure-button" data-bind="click:getActivity,visible:showRefresh">网络抽了，点我刷新哟！</button>
						</div>
			    </div>
			</div>
	

		</div>
        
    </div>
</div>
{{# section 'jquery' }}
	<script type="text/javascript" src="/dist/vendor/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="/dist/js/admin/ui.js"></script>
	<script type="text/javascript" src="/dist/js/admin/app.js"></script>
	
{{/ section}}