<div class="head">
    <div class="logo">
        <a href="/#">
            <img src="dist/img/logo.png" style="height:45px;" alt="">
        </a>
        <span>喂米</span>
    </div>
    <ul class="head_list">
        <li id="about" href="#about">关于</li>
        <li id="download" href="#download" >下载</li>
    </ul>
</div>