 {{# section 'head'}}
	 <!-- Custom styles for this template -->
	<link href="/dist/css/navbar-fixed-top.css" rel="stylesheet">
 {{/ section}}
 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">喂米</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/1">主页</a></li>
            {{#if session.isLogin}}
            <li ><a href="#">活动</a></li>
            <li><a href="#">社区</a></li>
            {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if session.isLogin}}
              <li><a href="/user/home">我</a></li>
              <li ><a href="/auth/logout">注销 <span class="sr-only">(current)</span></a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>