<!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img style='height:100vh;' src='/img/1.jpg'></div>
            <div class="swiper-slide"><img style='height:100vh;' src='/img/2.jpg'></div>
            <div class="swiper-slide"><img style='height:100vh;' src='/img/3.jpg'></div>
            <div class="swiper-slide"><img style='height:100vh;' src='/img/4.jpg'></div>
            
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>