<!-- Swiper -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img style='width:90vmin;height:90vmin;' src='/img/1.png'></div>
        <div class="swiper-slide"><img style='width:90vmin;height:90vmin;' src='/img/2.png'></div>
        <div class="swiper-slide"><img style='width:90vmin;height:90vmin;' src='/img/3.png'></div>
        <div class="swiper-slide"><img style='width:90vmin;height:90vmin;' src='/img/4.png'></div>

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>