<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{>head}} 
  
  {{{_sections.head}}}
  
  {{>css}}
</head>

<body>
  {{>fixed_navbar}} 

  {{{body}}}


{{>jquery}}

{{{_sections.jquery}}}
</body>

</html>
