<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{>head}}
  {{>css_bt}}
  
{{>jquery}} 
  {{{_sections.head}}}
</head>
<body>
  {{!--{{>fixed_navbar}} --}}
  {{{body}}}

{{>js_bt}} 

{{{_sections.jquery}}}
</body>

</html>
