{{# section 'head'}}
    <title>WeMe|南京高校轻社交平台</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/dist/vendor/Swiper/dist/css/swiper.min.css">{{!--<!-- Link Pure CSS stars -->--}}
    {{!--<link rel="stylesheet" href="/css/stars_bg.css">--}}

    {{!--Link vex--}}
    <script src="/dist/vendor/vex/js/vex.combined.min.js"></script>
    <link rel="stylesheet" href="/dist/vendor/vex/css/vex.css" />
    <link rel="stylesheet" href="/dist/vendor/vex/css/vex-theme-flat-attack.css" />
    <link rel="stylesheet" href="/dist/css/landing_mix.css" />


{{/ section}}



{{>landing_head}}
{{>swiper_mix}}


{{#section 'jquery'}}
    <!-- Swiper JS -->
    <script src="/dist/vendor/Swiper/dist/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            direction: 'vertical',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            mousewheelControl: true,
            parallax: true,
            speed: 600,
            hashnav:true,
            keyboardControl:true,
        });
    </script>

   


    <script src="/dist/js/landing_head_button.js"></script>
        
{{/section}}
