{{# section 'head'}}
    <title>WeMe|南京高校轻社交平台</title>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="/vendor/swiper/css/swiper.min.css">
    
    <!-- Link Pure CSS stars -->
    <link rel="stylesheet" href="dist/css/stars_bg.css">
    
    {{!--Link VEX-JS--}}
    <script src="/vendor/vex-js/js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>
    <link rel="stylesheet" href="/vendor/vex-js/css/vex.css" />
    <link rel="stylesheet" href="/vendor/vex-js/css/vex-theme-flat-attack.css" />
    <link rel="stylesheet" href="dist/css/landing.css" />
{{/ section}}

{{>landing_head}}
{{>swiper}}


{{#section 'jquery'}}
    <!-- Swiper JS -->
    <script src="/vendor/swiper/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            direction: 'vertical',
            slidesPerView: 1,
            paginationClickable: true,
            spaceBetween: 30,
            mousewheelControl: true,
        });
        
    </script>
    
    <script src="/js/landing_head_button.js"></script>
{{/section}}
