@charset "UTF-8";
html,
body {
  position: relative;
  height: 100%;
  /*隐藏掉滚动条*/
  overflow: hidden; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #001319;
  /*slide边框颜色这里改*/ }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /*background: #001319;*/
  /*slide背景颜色这里改*/
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.swiper-pagination-bullet {
  width: 15px;
  /*球宽*/
  height: 15px;
  /*球高*/
  background: #FDF8F5;
  /*未选中的球颜色*/
  margin: 25px; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #d2d3d1;
  /*选中的球颜色*/ }

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 25px 0;
  /*球间距*/ }

.head {
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 45px;
  color: #fff;
  z-index: 998; }

.logo {
  position: absolute;
  left: 60px;
  top: 0;
  width: 120px; }

.logo span {
  position: absolute;
  font-size: 20px;
  top: 12px;
  margin-left: 10px; }

.head_list {
  position: absolute;
  top: 0;
  right: 60px;
  width: 380px;
  margin-top: 4px; }

.head_list li {
  float: right;
  margin-left: 20px;
  width: 90px;
  height: 37px;
  border-radius: 12px;
  background: #25363E;
  text-align: center;
  line-height: 37px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.9; }

.head_list li:hover {
  background: #3560B3; }

ul {
  list-style: none; }

.download a {
  display: block;
  width: 200px;
  height: 56px;
  border-radius: 15px;
  background: #3560B3;
  font-size: 24px;
  line-height: 56px;
  text-align: left;
  color: #fff; }

.download a img {
  vertical-align: top;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 6px; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

a:hover {
  text-decoration: none; }

/*适配移动设备*/
@media screen and (max-width: 640px) {
  .logo {
    left: 9px; }
  .head_list {
    right: 10px;
    top: 8px; }
  .head_list li {
    width: 80px;
    height: 22px;
    font-size: 14px;
    line-height: 25px; } }
