<div class="head">
    <div class="logo">
        <a href="/user/home">
            <img src="img/logo.jpg" style="height:60px;border-radius: 50px 50px 50px 50px;" alt="">
        </a>
        <span style="font-size: 24px;">唯觅</span>
    </div>
    <ul class="head_list">
        <li id="about" href="#about">关于</li>
        <li id="download" href="#download" >下载</li>
    </ul>
</div>