    <div class="swiper-wrapper">
        <div class="swiper-slide" data-hash="slide1"><img style='width:90vmin;height:90vmin;max-width: 90%;' src='img/1.png'></div>
        <div class="swiper-slide" data-hash="slide2"><img style='width:90vmin;height:90vmin;max-width: 90%;' src='img/2.png'></div>
        <div class="swiper-slide" data-hash="slide3"><img style='width:90vmin;height:90vmin;max-width: 90%;' src='img/3.png'></div>        <div class="swiper-slide" data-hash="slide4"><img style='width:90vmin;height:90vmin;max-width: 90%;' src='img/4.png'></div>
        <div class="swiper-slide" data-hash="slide5">
            <div class="container">
                <div class="row">
                    <div class='col-md-4 col-md-offset-2 col-xs-6'>
                    <p style="color: white">点击或扫码下载APP</p>
                    <p style="color: white">iOS&Android</p>
                    <a href="//www.hao2b.cn/72479">                        
                        <img id='qr' src='img/4/UA.png' style='max-height:231px;border-radius: 20px 20px 20px 20px;margin-top:40px;"' class='img-responsive center-block'>
                    </a>
                    </div>
                    <div class='col-md-4 col-xs-6'>
                    <p style="color: white">扫码关注</p>
                    <p style="color: white">官方微信</p>
                         <a href="#">                        
                            <img id='qr' src='img/4/wechat.jpg' style='max-height:231px;border-radius: 20px 20px 20px 20px;margin-top:40px;"' class='img-responsive center-block'>
                        </a>
                    </div>                    
                    <div class='col-md-2'></div>
                </div>
                <div class="row">
                        <img id='txt' src='img/4/1.png' style="margin-top:40px"  >
                        <img id='txt' src='img/4/2.png' style="margin-top:40px"  >
                        <img id='txt' src='img/4/3.png' style="margin-top:40px"  >
                        <img id='txt' src='img/4/4.png' style="margin-top:40px"  >
                        <img id='txt' src='img/4/5.png' style="margin-top:40px"  >
                </div>
            </div>
        </div>
        
{{!--TODO--}}
{{!--根据屏幕选择图片大小--}}
    </div>