{{# section 'head' }}	

	<title>WeMe|我的活动</title>

{{/ section}}


{{> user/navbar activity=true}}
<div class="container">
	<div class="row" style="margin-top: 30px;">
		<div class="col-md-2">
				<div class="list-group">
				  <button type="button" class="list-group-item active">发布的活动</button>
				  <button type="button" class="list-group-item disabled">喜欢的活动</button>
				  <button type="button" class="list-group-item disabled">参加的活动</button>
				</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default">
				  <div class="panel-heading text-center">我发布的活动</div>
				<div class="list-group" data-bind="foreach:activityList">
				  <a href="#" class="list-group-item" data-bind="click:$root.getSignupList,attr:{class:($root.currentActivity()==$data)?'list-group-item active':'list-group-item'}">
				    <h4 class="list-group-item-heading" data-bind="text:title"></h4>
				    <p class="list-group-item-text" >
				    <span data-bind="text:time"></span>
				    【<span data-bind="text:status"></span>】
				    </p>
				  </a>				  
				</div>
			</div>
			<nav class="text-center" >
				  <ul class="pagination pagination-sm">
				    <li >
				      <a href="#" aria-label="Previous" >
				        <span aria-hidden="true" >上一页</span>
				      </a>
				    </li>
				  </ul>
				  <ul class="pagination pagination-sm" >
				    <li > 
				    	<a >1</a>
			   		</li>
			  	  </ul>
				  <ul class="pagination pagination-sm">
					<li >
				      <a href="#" aria-label="Next" >
				        <span aria-hidden="true" >下一页</span>
				      </a>
				    </li>
				  </ul>
			</nav>
		</div>		
		<div class="col-md-5">
				<div class="panel panel-default" style="margin-bottom: 0px">
				  <!-- Default panel contents -->
				  <div class="panel-heading text-center">报名用户</div>
					<div class="list-group" data-bind="visible:signupList().length===0">
						<a class="list-group-item text-center">无人报名</a>
					</div>

					<table class="table table-hover" data-bind="visible:signupList().length!==0">
						<thead>
							<tr>
								<th>Id</th>
								<th>姓名</th>
								<th>学校</th>
								<th>性别</th>
								<th>状态</th>
							</tr>
						</thead>
						<tbody data-bind="foreach:signupList">
							<tr>
								<td data-bind="text:id"></td>
								<td data-bind="text:name"></td>
								<td data-bind="text:school"></td>
								<td data-bind="text:gender"></td>
								<td data-bind="text:flagStatus"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<nav class="text-center" >
					  <ul class="pagination pagination-sm">
					    <li >
					      <a href="#" aria-label="Previous" >
					        <span aria-hidden="true" >上一页</span>
					      </a>
					    </li>
					  </ul>
					  <ul class="pagination pagination-sm" >
					    <li > 
					    	<a >1</a>
				   		</li>
				  	  </ul>
					  <ul class="pagination pagination-sm">
						<li >
					      <a href="#" aria-label="Next" >
					        <span aria-hidden="true" >下一页</span>
					      </a>
					    </li>
					  </ul>
				</nav>
		</div>		
	</div>
	
</div>

{{# section 'jquery' }}
	<script type="text/javascript" src="/dist/vendor/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="/dist/js/util/dom.js"></script>
	<script type="text/javascript" src="/dist/js/user/activity/manage.js"></script>
	
{{/ section}}