{{# section 'head' }}	
	<title>{{session.username}}|WeMe|Login</title>

{{/ section}}


{{> user/navbar activity=true}}
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
				<h1>正在添加内容……</h1>
			
		</div>
	</div>
	
</div>

{{# section 'jquery' }}
	<script type="text/javascript" src="/bower_components/knockout/dist/knockout.js"></script>
	
{{/ section}}