    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/admin">WeMe</a>

            <ul class="pure-menu-list activity-list">
            {{#if publish}}
            <li class="pure-menu-item pure-menu-selected "><a href="#" class="pure-menu-link">活动审核</a></li>
            {{else}}
                <li class="pure-menu-item"><a href="/admin/publish" class="pure-menu-link">活动审核</a></li>            
            {{/if}} 

            {{#if certificate}}
            <li class="pure-menu-item pure-menu-selected "><a href="#" class="pure-menu-link">认证审核</a></li>
            {{else}}
                <li class="pure-menu-item"><a href="/admin/certificate" class="pure-menu-link">认证审核</a></li>            
            {{/if}} 
            {{#if card}}
            <li class="pure-menu-item pure-menu-selected "><a href="#" class="pure-menu-link">卡片审核</a></li>
            {{else}}
                <li class="pure-menu-item"><a href="/admin/card" class="pure-menu-link">卡片审核</a></li>            
            {{/if}}            

           {{!--  {{#if eventRegister}}
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">报名审核</a></li>
            {{else}}
               <li class="pure-menu-item"><a href="/admin/eventRegister" class="pure-menu-link">报名审核</a></li>            
            {{/if}} --}}
                {{!-- <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">用户管理</a>
                </li>

                <li class="pure-menu-item"><a href="#" class="pure-menu-link">其他功能</a></li> --}}
            </ul>
        </div>
    </div>