<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        {{!-- <a class="pure-menu-heading" href="">Your Site</a> --}}

        <ul class="pure-menu-list">
            <li  class="pure-menu-item"><a href="/user/home" class="pure-menu-link">我</a></li>
            <li  class="pure-menu-item"><a href="/auth/logout" class="pure-menu-link">注销</a></li>
        </ul>
    </div>
</div>