<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{>head}}
  {{>css_bt}}
{{>css_bt_navbar}}	
  {{{_sections.head}}}
</head>
<body>
  {{!--{{>fixed_navbar}} --}}
  {{#if messages.msg}}
	<div class="alert alert-warning" role="alert">{{messages.msg}}</div>
  {{/if}}
 
  {{{body}}}
{{>jquery}} 

{{>js_bt}} 

{{{_sections.jquery}}}
</body>

</html>
