<!DOCTYPE html>
<html lang="zh-CN">

<head>
  {{>head}} 
  
  {{!--{{>css}}--}}
  
{{>jquery}}
  {{{_sections.head}}}
  
</head>

<body>
  {{!--{{>fixed_navbar}} --}}

  {{{body}}}



{{{_sections.jquery}}}
</body>

</html>
