{{# section 'head' }}	
	<title>WeMe|Login</title>
	<style>
		body {
			font-family: Helvetica;
			margin:0 auto;
			min-height:100%;
			/* margin-top: -14%; */
			background: #fff url(/img/loginBG.jpg) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.words{
			margin-top: 10%;
		}
		.nav.login {
			margin: 0 auto;
			margin-top: 5%;
			/* margin-right: 15%; */
			width: 300px;
			height: 225px;
			background: #fff;
			border-radius: 5px; 
			text-align: center;
			padding-top: 10px;
			box-shadow: 0 0 10px rgba(0,0,0, .5);
		}
		.username {
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 25px;
	padding-left: 9px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

.password {
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 5px;
  margin-right: 3px;
	padding-left: 9px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

.password:hover, .username:hover {
	box-shadow: 0 0 10px rgba(178,34,34, 1); 
	border: 1px #b22222	 solid ;
}

.password:focus, .username:focus, .button:focus, .button:hover:focus{
	box-shadow: 0 0 10px rgba(178,34,34, 1); 
	border: 1px #b22222	 solid ;
}
.button {
  color:#fff;
  font-size:20px;
	border: 1px solid #a6a6a6;
	width: 243px;
	height: 43px;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 6px;
	outline: none;
  background: rgb(255,48,25); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(255,48,25) 0%, rgb(207,4,4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,48,25)), color-stop(100%,rgb(207,4,4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
.button:hover{
    background: rgb(204,0,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(204,0,0) 0%, rgb(204,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,0,0)), color-stop(100%,rgb(204,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
}
h1{
  margin: 0 auto;
  padding-top: 12%;
  padding-left: 20%;
  text-transform:uppercase;
	font-size:30px;
	color:white;
}


h2{
	margin: 0 auto;
	padding-left: 20%;
	padding-top:1%;
	font-size:18px;
	color:#fff;
}

	</style>
{{/ section}}


{{> user/navbar}}

{{#unless session.isLogin}}

<div class="container">
	<div class="row">
<div class="col-md-8 words">
	<h1> 寻觅新生活</h1>
<h2>不经意的邂逅</br>
随处采撷的温暖</br>
来不及准备就盛放的季节</h2>
	
</div>
		<div class="col-md-4 col-sm-12 nav login">
				<form action="/auth/login" method="POST" role="form">
					<div class="form-group">
					<div class="field">
						<input class="username" id="username" type="text" class="form-control" name="username" data-bind="textInput: username" placeholder="用户名" maxlength="20" autocomplete="on">
						{{!-- <label data-bind="text: username"></label> --}}
					</div>
					<br>
					<div class="field">
						<input class="password" id="password" type="password" class="form-control" data-bind="textInput: password" placeholder="密码">
						{{!-- <label data-bind="text: password"></label> --}}
						<input type="hidden" class="form-control" name="password" data-bind="textInput: passhash" placeholder="passhash">
					</div>
				</div>
					<input type="submit" class="button" value="登录" />
					{{!-- <hr> --}}
					{{!-- 暂时没有准备好 --}}
					{{!-- <span class="reg">						
					<a href="#resetpasswd">忘记密码？</a>|
					<a href="/auth/register">注册</a>
					</span> --}}
				</form>
			
		</div>
	</div>
	
</div>
{{/unless}}

{{# section 'jquery' }}
	<script type="text/javascript" src="/bower_components/knockout/dist/knockout.js"></script>
	<script type="text/javascript" src="/js/auth/login.js"></script>
	<script type="text/javascript" src="/js/util/md5.js"></script>
	
{{/ section}}